[color]
	ui = true
[user]
	name = Richard Wu
	email = richardwu1997@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	co = checkout
        br = branch
        st = status
[core]
	excludesfile = /Users/richardwu/.gitignore_global
